


section {
    width: 300px;
    height: 150px;
    background-color: #d6d9cd; 
    border: 1px solid #333;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(12, 150, 51);
    font-size: 20px;
    border-radius: 8px;
    position: relative;
}

header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #ff5722;
    margin-bottom: 10px;
}

.unit-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 2px;
    width: 100%;
    right: 40%;
}

.unit-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
    color: white;
  margin-left: 180px;
}

.subheadings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.subheading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 576px;
    margin-right: 560px;
    padding: 10px;
    background-color: antiquewhite;
  }



